@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Poppins:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;

}

.App {
    background-image: url('../public/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    font-family: 'Heebo', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
